<!DOCTYPE html>
<html>

<head>
    <title>城市道路积水监测系统用户注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="城市道路积水监测系统注册页面">
    <meta name="description" content="城市道路积水监测系统注册页面">
    <link rel="shortcut icon" href="/register/images/favicon.ico" />
    <link href="/register/style/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/register/js/jquery.js"></script>
    <script type="text/javascript" src="/register/js/jquery.i18n.properties-1.0.9.js"></script>
    <script type="text/javascript" src="/register/js/jquery-ui-1.10.3.custom.js"></script>
    <script type="text/javascript" src="/register/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/register/js/md5.js"></script>
    <script type="text/javascript" src="/register/js/page_regist.js?lang=zh"></script>
    <!--[if IE]>
  <script src="/register/js/html5.js"></script>
<![endif]-->
    <!--[if lte IE 6]>
	<script src="/register/js/DD_belatedPNG_0.0.8a-min.js" language="javascript"></script>
	<script>
	  DD_belatedPNG.fix('div,li,a,h3,span,img,.png_bg,ul,input,dd,dt');
	</script>
<![endif]-->
</head>

<body class="loginbody">
    <div class="dataEye">
        <div class="loginbox registbox">
            <!--	<div class="logo-a">
			<a href="login.jsp" title="城市道路积水监测系统注册页面">
				<img src="/register/images/logo-a.png">
			</a>
		</div>-->
            <div class="login-content reg-content">
                <div class="loginbox-title">
                    <h3>注册</h3>
                </div>
                <form id="signupForm">
                    <div class="login-error"></div>
                                        <div class="row">
                        <label class="field" for="username">用户名</label>
                        <input type="text" value="" class="input-text-user noPic input-click" name="username" id="username">
                    </div>
                    <!--
                    <div class="row">
                        <label class="field" for="email">注册邮箱</label>
                        <input type="text" value="" class="input-text-user noPic input-click" name="email" id="email">
                    </div>
                    -->
                    <div class="row">
                        <label class="field" for="password">密码</label>
                        <input type="password" value="" class="input-text-password noPic input-click" name="password" id="password">
                    </div>
                    <div class="row">
                        <label class="field" for="passwordAgain">确认密码</label>
                        <input type="password" value="" class="input-text-password noPic input-click" name="passwordAgain" id="passwordAgain">
                    </div>
                    
                    <div class="row">
                        <label class="field" for="contact">手机号</label>
                        <input type="text" value="" class="input-text-user noPic input-click" name="contact" id="contact">
                    </div>
                    <!--
                    <div class="row">
                        <label class="field" for="company">公司名</label>
                        <input type="text" value="" class="input-text-user noPic input-click" name="company" id="company">
                    </div>
                    <div class="row">
                        <label class="field" for="tel">公司电话</label>
                        <input type="text" value="" class="input-text-user noPic input-click" name="tel" id="tel">
                    </div>
                    <div class="row">
                        <label class="field" for="qq">QQ</label>
                        <input type="text" value="" class="input-text-user noPic input-click" name="qq" id="qq">
                    </div>
                    -->
                    <div class="row tips">
                        <input type="checkbox" id="checkBox">
                        <label>
                            我已阅读并同意
                            <a href="www.bupt.edu.cn" target="_blank">隐私政策、服务条款</a>
                        </label>
                    </div>

                    <div class="row btnArea">
                        <a clsass="login-btn" id="submit">注册</a>
                    </div>
                </form>
            </div>
            <div class="go-regist">
                已有帐号,请<a href="/login" class="link">登录</a>
            </div>
        </div>
        <div id="footer">
            <div class="dblock">
                <!--<div class="inline-block"><img src="/register/images/logo-gray.png"></div>-->
                <div class="inline-block copyright">
                    <p><a href="#">关于我们</a> | <a href="#">微博</a> | <a href="#">隐私政策</a> | <a href="#">人员招聘</a></p>
                    <p> Copyright © 2017 城市道路积水监测</p>
                </div>
            </div>
        </div>
    </div>
    <div class="loading">
        <div class="mask">
            <div class="loading-img">
                <img src="/register/images/loading.gif" width="31" height="31">
            </div>
        </div>
    </div>
</body>

</html>